@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'PierSans';
	src: url('/fonts/PierSans/PierSans-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'PierSans';
	src: url('/fonts/PierSans/PierSans-Medium.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Light.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Medium.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Bold.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'SohneBreit';
	src: url('/fonts/SohneBreit/Sohne-Kraftig.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Sohne';
	src: url('/fonts/SohneBreit/Sohne.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'SohneBreit';
	src: url('/fonts/SohneBreit/Sohne-Halbfett.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'SohneBreit';
	src: url('/fonts/SohneBreit/Sohne-Fett.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

body {
	font-family: 'Aeonik', sans-serif;
}

@layer utilities {
  .dashboard-card-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
		transition: all 200ms ease;
  }

  .dashboard-card-scrollbar::-webkit-scrollbar-track {
		border: 1px solid rgb(var(--linear-tertiary) / 0.2);
		border-radius: 3px;
  }

  .dashboard-card-scrollbar::-webkit-scrollbar-thumb {
    border: 1px solid rgb(var(--linear));
		border-radius: 3px;
  }

  .dashboard-card-scrollbar::-webkit-scrollbar-thumb:hover {
    border-color: rgb(var(--linear-secondary));
  }
}

@layer base {
	:root {
		--void: 5 5 5;
		--void-high: 11 11 13;
		--void-higher: 24 24 27;
		--linear: 72 72 72;
		--linear-secondary: 52 52 52;
		--linear-tertiary: 41 41 41;
		--ink: 204 204 204;
		--ink-secondary: 161 161 170;
		--ink-muted: 138 147 164;
		--ink-tertiary: 113 113 122;
		--pastel-pink: 249 158 251;
		--pastel-red: 250 144 163;
		--pastel-green: 158 251 223;
		--pastel-blue: 158 218 251;
		--pastel-yellow: 248 181 119;
		--pastel-purple: 158 167 251;
		--neon-blue: 8 35 44;
		--neon-green: 8 44 44;
		--neon-yellow: 40 27 11;
		--neon-pink: 55 15 39;
		--neon-purple: 24 31 57;
	}
}

fieldset {
	@apply flex flex-col space-y-2 mb-4;
}

label {
	@apply font-bold text-sm uppercase;
}

/*input {
	@apply bg-gradient-to-r from-white/30 via-white/50 to-white/30 rounded-xl bg-transparent px-6 py-2 text-sm focus:outline-2 focus:outline-white/30 outline-none;
}*/

.voted-gradient {
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 97, 220, 0.8) 0%, rgba(194, 200, 255, 0.8) 64.06%, rgba(225, 237, 242, 0.8) 100%);
}

.vertical-rl {
	writing-mode: vertical-rl;
}

.dashboard-card-tab label, .dashboard-card-content label {
	font-family: 'SohneBreit', sans-serif;
	color: rgb(var(--ink-tertiary));
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 11px;
}

.dashboard-card-tab fieldset, .dashboard-card-content fieldset {
	padding: 4px 0;
}

.dashboard-icon-card {
	background: radial-gradient(50% 50% at 50% 50%, rgb(13, 13, 13, 0) 0%, #0D0D0D 100%);
}

/** We use these background colors for outlined buttons */

.neon-shadow--blue {
	background: radial-gradient(50% 50% at 50% 50%, rgb(var(--neon-blue)) 0%, transparent 100%);
}

.neon-shadow--yellow {
	background: radial-gradient(50% 50% at 50% 50%, rgb(var(--neon-yellow)) 0%, transparent 100%);
}

.neon-shadow--pink {
	background: radial-gradient(50% 50% at 50% 50%, rgb(var(--neon-pink)) 0%, transparent 100%);
}

.neon-shadow--purple {
	background: radial-gradient(50% 50% at 50% 50%, rgb(var(--neon-purple)) 0%, transparent 100%);
}