@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'PierSans';
	src: url('/fonts/PierSans/PierSans-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'PierSans';
	src: url('/fonts/PierSans/PierSans-Medium.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Light.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Medium.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Bold.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'SohneBreit';
	src: url('/fonts/SohneBreit/Sohne-Kraftig.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Sohne';
	src: url('/fonts/SohneBreit/Sohne.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'SohneBreit';
	src: url('/fonts/SohneBreit/Sohne-Halbfett.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'SohneBreit';
	src: url('/fonts/SohneBreit/Sohne-Fett.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

body {
	font-family: 'Aeonik', sans-serif;
}

@layer utilities {
  .dashboard-card-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
		transition: all 200ms ease;
  }

  .dashboard-card-scrollbar::-webkit-scrollbar-track {
		border: 1px solid rgb(33, 41, 49, 0.1);
  }

  .dashboard-card-scrollbar::-webkit-scrollbar-thumb {
    border: 1px solid rgb(33, 41, 49, 0.5);
		border-radius: 4px;
  }

  .dashboard-card-scrollbar::-webkit-scrollbar-thumb:hover {
    border-color: rgb(33, 41, 49, 0.8);
  }
}

fieldset {
	@apply flex flex-col space-y-2 mb-4;
}

label {
	@apply font-bold text-sm uppercase;
}

/*input {
	@apply bg-gradient-to-r from-white/30 via-white/50 to-white/30 rounded-xl bg-transparent px-6 py-2 text-sm focus:outline-2 focus:outline-white/30 outline-none;
}*/

.react-select__indicators span {
	background-color: #0A1419;
}

.react-select__indicators svg {
	color: #497286;
}

.react-select__control {
	background-color: rgb(8, 17, 22, 0.3) !important;
	border: 1px solid #0A1419 !important;
	border-radius: 0px !important;
}

.react-select__control:hover {
	outline: 1px solid rgb(10, 20, 25, 0.5) !important;
	outline-offset: 2px !important;
	cursor: pointer !important;
}

.react-select__placeholder {
	color: #96B1BA !important;
	font-size: 14px;
}

.react-select__control--is-focused {
	box-shadow: 0 0 0 1px rgb(10, 20, 25, 1) !important;
}

.react-select__menu {
	background-color: #040B0E !important;
	border-radius: 8px !important;
	font-size: 14px !important;
	color: #96B1BA !important;
	opacity: 1 !important;
	border: 1px solid #0A1419 !important;
}

.react-select__option:not(:last-child) {
	border-bottom: 1px solid #0A1419 !important;
}

.react-select__menu-list {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-radius: 8px !important;
}

.react-select__option--is-focused {
	color: #cef1fd !important;
	cursor: pointer !important;
	background-color: rgb(8, 17, 22, 0.3) !important;
}

.react-select__multi-value {
	border: 1px solid #0A1419 !important;
	font-size: 12px !important;
	font-weight: 500 !important;
	border-radius: 6px !important;
	text-transform: uppercase !important;
	color: #96B1BA !important;
	outline: none !important;
	padding: 0 2px !important;
	background-color: transparent !important;
}

.react-select__multi-value__remove {
	@apply !rounded-md !ml-2 !p-0 !bg-transparent;
}

.react-select__multi-value__label {
	color: #96B1BA !important;
}

.IconButton {
	transition: all 0.1s ease-in-out;
	background-color: transparent;
	border: 1px solid rgb(255, 255, 255, 0.8);
}

.IconButton:hover {
	border-color: rgb(255, 255, 255, 0.5);
	background-color: rgb(255, 255, 255, 0.5);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
}

.voted-gradient {
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 97, 220, 0.8) 0%, rgba(194, 200, 255, 0.8) 64.06%, rgba(225, 237, 242, 0.8) 100%);
}

.dashboard-card-bg {
	background: linear-gradient(221.46deg, rgba(2, 7, 10, 0) 0%, #050D11 100%);
}

.card-search-bg:hover {
	background: linear-gradient(90deg, #071015 0%, rgba(7, 16, 21, 0) 50%, #071015 100%);
}

.vertical-rl {
	writing-mode: vertical-rl;
}

.dashboard-card-tab label, .dashboard-card-content label {
	font-family: 'SohneBreit', sans-serif;
	color: #b7ccd8;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 11px;
}

.dashboard-card-tab fieldset, .dashboard-card-content fieldset {
	padding: 4px 0;
}

.dashboard-icon-card {
	background: radial-gradient(50% 50% at 50% 50%, rgba(12, 16, 21, 0) 0%, #0C1116 100%);
}

/** We use these background colors for outlined buttons */

.neon-shadow--blue {
	background: radial-gradient(50% 50% at 50% 50%, #08232C 0%, transparent 100%);
}

.neon-shadow--yellow {
	background: radial-gradient(50% 50% at 50% 50%, #281B0B 0%, transparent 100%);
}

.neon-shadow--pink {
	background: radial-gradient(50% 50% at 50% 50%, #370F27 0%, transparent 100%);
}

.neon-shadow--purple {
	background: radial-gradient(50% 50% at 50% 50%, #231839 0%, transparent 100%);
}