@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PierSans';
	src: url('/fonts/PierSans/PierSans-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'PierSans';
	src: url('/fonts/PierSans/PierSans-Medium.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Light.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Medium.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik/Aeonik-Bold.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

body {
	font-family: 'Aeonik', sans-serif;
}

fieldset {
	@apply flex flex-col space-y-2 mb-4;
}

label {
	@apply font-bold text-sm uppercase;
}

input {
	@apply bg-gradient-to-r from-white/30 via-white/50 to-white/30 rounded-xl bg-transparent px-6 py-2 text-sm focus:outline-2 focus:outline-white/30 outline-none;
}

.react-select__indicators span {
	@apply bg-black/20;
}

.react-select__indicators svg {
	@apply text-black/20;
}

.react-select__control {
	@apply !bg-white/30 !border !border-white/50 !rounded-md;
}

.react-select__control:hover {
	@apply border-white/30 cursor-pointer !important;
}

.react-select__placeholder {
	@apply !text-black/20;
}

.react-select__control--is-focused {
	box-shadow: 0 0 0 1px #fff !important;
}

.react-select__menu {
	@apply !bg-black backdrop-blur-lg !rounded-lg !px-2 !py-1 !shadow-none !font-light !text-neutral-400 !text-sm;
}

.react-select__option {
	@apply !rounded-md !px-3;
}

.react-select__menu-list {
	@apply !px-0;
}

.react-select__option--is-focused {
	@apply !bg-neutral-900/30 !text-white !cursor-pointer;
}

.react-select__multi-value {
	@apply !bg-white/30 !rounded-md !outline-none !px-1 !font-bold !uppercase !text-sm !border !border-white/60;
}

.react-select__multi-value__remove {
	@apply !rounded-md !ml-2 !p-0 !bg-transparent;
}

.react-select__multi-value__label {
	@apply !text-black;
}

.IconButton {
	transition: all 0.1s ease-in-out;
	background-color: transparent;
	border: 1px solid rgb(255, 255, 255, 0.8);
}

.IconButton:hover {
	border-color: rgb(255, 255, 255, 0.5);
	background-color: rgb(255, 255, 255, 0.5);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
}